.footer-section {
    background-color: #f3f3f3;
    h5 {
        font-family: $ff-raleway;
        color: $black;
        font-size: 20px;
        font-weight: bold;
    }
    a {
        color: #808080;
        font-family: $ff-raleway;
        font-weight: 400;
        font-size: 16px;
        display: block;
    }
    span {
        color: #808080;
        font-family: $ff-raleway;
        font-weight: 400;
        font-size: 16px;
        display: block;
        width: 150px;
    }

    .logo-footer {
        a {
            font-size: 14px;
            color: $black;
        }
    }

    .contact-options {
        img {
            height: 14px;
        }
    }
}


.copyright-section {
    background-color: #434343;
    color: $white;
    span {
        font-family: $ff-raleway;
        font-weight: 400;
        font-size: 12px;
    }
}

@media (max-width: 991px) {
    .footer-column {
        padding-left: 0px !important;
    }
}

@media (max-width: 768px) {
    .footer-section {
        text-align: center;
    }
}

@media (max-width: 576px) { 
    .footer-section {
        display: none;
    }
}