.header-top {
    background-color: $red;
    .header-top-content {
        display: flex;
        justify-content: flex-end;
        font-size: 13px;
        a {
            color: $white;
            font-family: $ff-raleway;
            font-weight: 600;
            font-style: normal;
        }
        span {
            color: $white;
            font-family: $ff-raleway;
            font-weight: 600;
            font-style: normal;
        }
        img {
            height: 17px;
        }
    }
}

.border-header {
    width: 100vw;
    height: 1px;
    background-color: #eeeeee;
}

#navbarNavDropdown {
    justify-content: space-around;
    #main-menu {
        margin: 0 !important;
        justify-content: space-around;
        width: 100%;
        li:nth-child(odd) {
            border-right: 1px solid #eeeeee;
            border-left: 1px solid #eeeeee;
            padding-right: 10px;
            padding-left: 10px;
        }
        
    }
    a {
        color: $black;
        font-family: $ff-raleway;
        font-size: 16px;
        font-weight: 600;
    }
}

nav .logo {
    display: none;
}

#nav-button {
    display: none;
}

#nav-button {
    width: 46px;
    height: 45px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    top: 14px;
  }
  
   #nav-button span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: $black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  

  #nav-button span:nth-child(1) {
    top: 0px;
  }
  
  #nav-button span:nth-child(2),#nav-button span:nth-child(3) {
    top: 10px;
  }
  
  #nav-button span:nth-child(4) {
    top: 20px;
  }
  
  #nav-button.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  
  #nav-button.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #nav-button.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  #nav-button.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

  .mobile-header-icons {
      display: none;
      img {
          height: 25px;
      }
  }


@media (max-width: 991px) {
    .header-middle {
        display: none;
    }

    nav .logo {
        display: block;
    }

    .header-top-content {
        justify-content: center !important;
    }
    
    #nav-button {
        display: block;
    }

    #main-menu {
        li:nth-child(odd) {
            border-right: none !important;
            border-left: none !important;
            padding: 0 !important;
        }
    }
}

@media (max-width: 767px) { 
    .header-top {
        display: none;
    }
    .mobile-header-icons {
        display: block;
    }
    .logo img {
        height: 55px;
    }
}

@media (max-width: 485px) { 
    .logo img {
        height: 40px;
    }
}

@media (max-width: 410px) { 
    .logo img {
        height: 32px;
    }
    .mobile-header-icons {
        img {
            height: 20px;
        }
    }
    #nav-button {
        width: 35px;
    }
}