/*
* base
*/
body {
    font-size: $fs-base;
    font-weight: $fw-regular;
    color: $fc-base;
    line-height: $lh-base;
}

p {
    font-family: $ff-raleway;
    font-size: 18px;
    color: $black;
    font-weight: 400;
    font-style: normal;
}

strong, b {
    font-weight: $fw-bold;
}

/*
* headings
*/


h1 {
    font-weight: 700;
    font-size: $fs-h1;
    line-height: 51px;
}

h2 {
    font-size: 44px;
    font-family: $ff-lora;
    color: $red;
    font-weight: bold;
}

h3 {
    font-family: $ff-raleway;
    font-size: 22px;
    color: $black;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
}

h4 {
    font-family: $ff-raleway;
    font-size: 22px;
    color: $red;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
}

h5 {
    font-family: $ff-raleway;
    font-size: 44px;
    color: $black;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
}

h6 {
    font-size: $fs-h6;
    margin-bottom: 0.5rem;
}