/*
* Use existing Bootstrap 4 classes and
* variables to extend - override CF7 style
*
* Useful CF7 classes:
* .wpcf7 the wrapper element
* .wpcf7-form
* .wpcf7-form-control
* .wpcf7-text
* .wpcf7-email
* .wpcf7-textarea
* .wpcf7-submit
*/

::-webkit-input-placeholder { /* Edge */
color: #C2BDB8  !important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: #C2BDB8  !important;
}

::placeholder {
color: #C2BDB8  !important;
}

// keep a max width in case it is just the form and nothing else
// we do not want a form spanning whole page
.wpcf7 {
  max-width: 600px;
  margin: 0 auto !important;

  // all inputs except radios and checkboxes inherit from form-control
  input[type=text],
  input[type=search],
  input[type=url],
  input[type=tel],
  input[type=number],
  input[type=range],
  input[type=date],
  input[type=month],
  input[type=week],
  input[type=time],
  input[type=datetime],
  input[type=datetime-local],
  input[type=color],
  input[type=email],
  input[type=file],
  input[type=submit],
  select,
  textarea {
		font-family: Montserrat;
		height: 48px;
		border: 0;
    @extend .form-control;
		&:focus{
			border: 1px solid $primary;
			background-color:  $gray;
		}
  }

  // submit button, inherit .btn and .btn-outline-primary classes.
  input[type=submit] {
    @extend .btn;
    @extend .btn-outline-primary;
  }

  .wpcf7-form {

    // set paragraphs to behave like divs with class .form-group
    p {
      @extend .form-group;
    }

    // let labels be 100%
    label {
      width: 100%;
			font-weight: bold;
	    margin-bottom: 0;
			&:first-of-type{
				margin-top: 0;
			}
			margin-top: 32px;
			font-family: Montserrat;
			font-size: 14px;
    }
		input, select, textarea{
			background:  $gray;
			margin-top: 14px;
			border-radius: 0;
		}
		select{
		 -webkit-appearance: none;
		 background: url('../img/dropdown-arrow.png') no-repeat $gray;
	 	 background-position: 98%;
     
     color: #C2BDB8 !important;
     
     
		}
		textarea{
			height: 165px;
		}

  

		.wpcf7-submit{
			line-height: 160%;
			width: auto;
			height: auto;
			color: white;
			position: relative;
			font-size: 16px;
			font-family: Montserrat;
			padding: 11px 15px 11px 42px;
			margin-top: 0;
			&:hover{
				background-color: transparent;
				border-color: transparent;
			}
		}
		.wrap-send{
			display: inline-block;
			background-color: $blue-dark;
			margin-top: 15px;
			position: relative;
			&:hover{
				transition: all .18s ease-in-out;
				background-color: $blue-light;
				&:before{
				background-image: url('../img/arrow-primary.png');
				}
			}
			&:before{
				content:'';
				position: absolute;
				background-image: url('../img/arrow.png');
				background-repeat: no-repeat;
				background-size: contain;
				width: 15px;
				height: 12px;
				top: 18px;
				left: 16px;
				z-index: 9;
			}
			.ajax-loader{display: none;}
  	}
	}
  // not valid tip for each control
  .wpcf7-not-valid-tip {
    color: theme-color("danger");
  }

  // validation errors ourput bottom of form
  .wpcf7-validation-errors {
    @extend .form-control;
    color: theme-color("danger");
    border: 1px solid $gray-200;
  }
}
