.landing-page-section-9 {
    .family-enos-overlay {
        border: 1px solid #eeeeee;
        margin: 0px 5px;
        img:first-of-type {
            padding: 10px 16px;
        }
    }
    a {
        font-family: $ff-raleway;
        font-weight: bold;
        font-size: 13px;
        color: $black;
        text-decoration: underline;
    }
    h5 {
        text-transform: uppercase;
    }
}

@media (max-width: 576px) { 
    .landing-page-section-9 {
        padding-bottom: 0px !important;
        h5 {
            color: #7e7e7e;
            font-family: $ff-lora;
            font-style: oblique;
            text-transform: capitalize;
        }
        p {
            display: none;
        }
        .family-enos-overlay {
            img:last-of-type {
                display: none;
            }
        }
        .col-lg-4 {
            padding-bottom: 15px;
        }
      
    }
}