.solutions-section-button {
    a {
        font-family: $ff-raleway;
        font-size: 18px;
        color: $black;
        font-weight: bold;
        border: 1px solid $black;
        padding: 10px 20px;
        img {
            height: 8px;
            position: relative;
            bottom: 1px;
            left: 6px;
        }
    }
}

@media (max-width: 991px) {
    .solutions-text-area {
        padding-top: 11px !important;
        padding-bottom: 0px !important;
    }
}



@media (max-width: 576px) { 
    .landing-page-section-3 {
        .row:first-of-type p {
            display: none;
        }
        .row:last-of-type {
            padding-top: 1rem!important;
        }
        a {
            font-size: 14px;
        }

        .solutions-text-area {
            h4 {
                font-size: 18px;
            }
            p {
                font-size: 15px;
            }
        }
    }
    h5 {
        font-size: 27px !important;
    }
}