.landing-page-section-2 {
    .service-section-image {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: center;
        height: 187px;
        img {
            position: absolute;
            right: 15px;
            bottom: 89px;   
        }
    }

    .service-section-image-1 {
        background-image: url('../img/home-storitve-plinski-oljni-kotli.jpg');
    }

    .service-section-image-2 {
        background-image: url('../img/home-storitve-kotli.jpg');
    }

    .service-section-image-3 {
        background-image: url('../img/home-storitve-solarni-sistemi.jpg');
    }

    .service-section-image-4 {
        background-image: url('../img/home-storitve-plinske-instalacije.jpg');
    }

    .service-section-image-5 {
        background-image: url('../img/home-storitve-klimatske-naprave.jpg');
    }

    .service-section-image-6 {
        background-image: url('../img/home-storitve-vodovodne.jpg');
    }


    .wide-image-info {
        background-image: url('../img/home-storitve-toplotna-crpalka.jpg');
        height: 224px;

        img {
            position: absolute;
            right: 15px;
            bottom: 0px;
        }
    }
    .wide-image-info-content {
        margin: 0;
        position: relative;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: left;
        width: 30vw;
        p {
            font-weight: normal;
            font-style: normal;
            max-width: 560px;
        }
    }
    a {
        text-decoration: none;
    }
}


@media (max-width: 576px) { 
    .landing-page-section-2 {
        p {
            display: none;
        }
        .service-section-image {
            height: 86px;
            img {
                bottom: 0px;
                top: 0px;
            }
        }
        h3 {
            font-size: 16px;  
        }
        h5 {
            padding-bottom: 1rem;
        }
        .wide-image-info {
            background-position: -103px;
            margin-top: 2rem !important;
        }
        .wide-image-info-content {
            top: 175%;
            left: 64%;
        }
        div {
            padding-bottom: 0px !important;
        }
    }
}