.section-clanki-1 {
    background-image: url('../img/content-banner.jpg');
    background-repeat: no-repeat;
    height: 337px;
}

.section-clanki-2 {
    .sidebar-navigation {
        .navigation-heading {
            background-color: $red;
            padding: 10px 0px;
            a {
                color: $white;
                font-weight: bold;
                font-family: $ff-raleway;
                font-size: 24px;
                padding-left: 40px;
            }
        }
        ul {
            list-style-type: none;
            margin-left: 45px;
            li {
                text-decoration: none;
                img {
                    height: 15px;
                }
            }
        }
    }

    .panel-heading {
    
        h4 {
            color: $black;
            font-family: $ff-raleway;
            font-size: 18px;
        }
        a {
            color: $black;
            padding: 10px 0px;
            padding-left: 63px;
        img {
            height: 10px;
            margin-right: 10px;
        }
        }
        a:hover {
            color: $black;
        }
    }

        
        li {
        list-style:none;
        } 
        
        .panel-default>.panel-heading {
            background-color: #e6e6e6;
        }
        
        .panel-group .panel+.panel {
            margin-top: 0px;
        }
        .panel-group {
            margin-top: 8px;
        }
        .panel-collapse {
            background-color:#f2f2f2;
        }
        
        .glyphicon { 
        margin-right:10px; 
        }
        
        
        ul.list-group {
            margin:0px;
        }
        
        ul.bulletlist li {
            list-style:disc;
        }
        
        
        ul.list-group  li a {
         display:block;
         padding:5px 0px 5px 15px;
         text-decoration:none;
        }
        
        ul.list-group li {
            border-bottom: 1px dotted rgba(0,0,0,0.2);
        }
            
        
        ul.list-group  li a:hover, ul li a:focus {
         color: $black;
         background-color: #00436a;
        }
        
        .panel-title a:hover,
        .panel-title a:active,
        .panel-title a:focus,
        .panel-title .open a:hover,
        .panel-title .open a:active,
        .panel-title .open a:focus
         {
            text-decoration:none;
            color:$black;
        }
        
        .panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small, .panel-title>small>a {
                display: block;
        }
        
        @media (min-width: 768px){
        .navbar-collapse.collapse 
            {
            display: block!important;
            height: auto!important;
            padding-bottom: 0;
            overflow: visible!important;
            padding-left:0px; 
        }
        }
        
        .menu-hide .panel-default>.panel-heading {
            color: #fff;
            background-color: #8e8c8c;
            border-color: #ddd;
        }
        
}