.template-page {
    margin-bottom: $gutter;
}

.subpage-hero {
  background: $blue-dark;
  height: 222px;
  padding-left: 100px;
  padding-top: 45px;
  margin-bottom: $gutter*1.5;
  overflow: hidden;
  
  
  @include media-breakpoint-down(md) {  
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 5px;
    height: auto;
    
    .left {
        padding-top: 0 !important;
    }
    
    svg {
      display: none;
    }
  }
  

  h1,h2,p {
    color: white;
  }
  .sub-title {
    font-size: $fs-base;
    font-weight: normal;
    
        @include media-breakpoint-down(md) {  
          margin-bottom: $gutter;
        }
  }
}

.content-body {
  padding-left: 100px;
  padding-right: 100px;

  hr {
    position: relative;
    
    &:after {
      position: absolute;
      left: -24px;
      top: -1px;
      width: 24px;
      height: 1px;
      content: "";
      background: #e8e8e8;
      z-index: 99;
    }
    
    &:before {
      position: absolute;
      right: -24px;
      top: -1px;
      width: 24px;
      height: 1px;
      content: "";
      background: #e8e8e8;
      z-index: 99;
    }
  
  }


  @include media-breakpoint-down(md) {
    padding-left: 15px;
    padding-right: 15px;
  }

}


.izvedite-vec {

   ul {

     list-style-type: none;
     padding-left: 0;
     margin-top: 1.2rem;

     li {
       margin-bottom: 1rem;
     }

   }

}


.content-text {

figcaption {
  font-size: 12px;
  line-height: 150%;
  opacity: 0.5;
  font-style: italic;
  margin-top: 0.5rem;
}

blockquote {
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
  color: #0C4E9E;
  margin-left: 30px;
}

ul {
    margin-left: 50px;
    padding-left: 0;
    list-style-type: square;
}

.my-gallery {
    margin-bottom: 2rem;


    .slider-for {

      width: 100%;
      height: 315px;
      overflow: hidden !important;
      background: white;
      position: relative;
      border-bottom: 10px solid white;

      img {
        width: 100%;
        height: auto;
      }
    }

    .slider-nav {
          height: 150px;
          overflow: hidden;
          margin-top: -10px;

          img {
            height: 150px;
            width: auto;
          }
    }

}

.podprta-podjetja{
		.card-columns {
		@include media-breakpoint-only(xl) {
			column-count: 2;
		}
		@include media-breakpoint-only(lg) {
			column-count: 2;
		}
		@include media-breakpoint-only(md) {
			column-count: 2;
		}
		@include media-breakpoint-only(sm) {
			column-count: 2;
		}
	}
	.link-card{
		position: absolute;
		width: 100%;
		height: 100%;
		cursor: pointer;
		z-index: 9;
	}

	article{
		border: 2px solid $gray;

		.content-article{
			position: relative;
			padding: 23px 24px 56px;
			.entery-title{
				margin-top: 23px;
				line-height: 27px;
				margin-bottom: 10px;
				color: $primary;
			}
			p{
				font-size: 14px;
				margin-bottom: 0;
			}
		}

		.read-more-img{
				position: absolute;
				bottom: 25px;
				right: 25px;
		}
	}
}

ul li::before {
content: "\25A0";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
color: #46A2DA; /* Change the color */
font-weight: bold; /* If you want it to be bold */
display: inline-block; /* Needed to add space between the bullet and the text */
width: 1.5em;
margin-left: -1.1em;
}

p,blockquote,figure,ul,hr {
  margin-bottom: $gutter;
  font-family: "Montserrat",sans-serif;
}
}
