#topLine .content-link span {
    padding-right: 0.4rem !important;
    margin-top: -2px !important;
}


.my-contact label {
    display: block;
    margin-bottom: 7.5px !important;
}


.my-contact textarea {
    display: block;
    width: 100%;
    height: 170px;
    margin-bottom: 7.5px;
    padding: 0.5rem 1rem;
}


.my-contact input {
    display: block;
    width: 100%;
    margin-bottom: 7.5px;
    padding: 0.5rem 1rem;
}

.my-contact .wpcf7-submit {
    background-color: rgb(255,160,0);
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

.my-contact .wpcf7-submit:hover {
    opacity: 0.85;
    transition: 0.3s;

}


.cid-rRvUm4Ifkq .nav-tabs .nav-link.active {
    font-weight: 500;
    color: rgb(255,160,0) !important;
    font-style: normal;
    border-bottom: 2px solid rgb(255,160,0) !important;
}

.cid-rRvUm4Ifkq .nav-tabs .nav-link:hover {
    color: rgb(255,160,0) !important;
    border-bottom: 2px solid rgb(255,160,0) !important;
}

.cta-floater {
    position: fixed;
    z-index: 9999;
    bottom: 30px;
    right: 30px;
    background: rgb(255,160,0);
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: block;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}

.cta-floater .floater-trigger {
    background: none;
    border: none;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    color: #fff;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.cta-floater .floater-trigger .fa-envelope {
    font-size: 25px;
}

.cta-floater #floater-button0, #floater-button1, #floater-button2, #floater-button3 {
    position: absolute;
    bottom: 0;
    left: -220px;
    height: 50px;
    width: 200px;
    opacity: 0;
    visibility: hidden;
    background: rgb(255,160,0);
    border: none;
    color: #fff;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.cta-floater #floater-button0.show {
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
}


.cta-floater #floater-button1.show {
    transform: translateY(-60px);
    opacity: 1;
    visibility: visible;
}

.cta-floater #floater-button2.show {
    transform: translateY(-120px);
    opacity: 1;
    visibility: visible;
}

.cta-floater #floater-button3.show {
    transform: translateY(-180px);
    opacity: 1;
    visibility: visible;
}

.show {
    display: block !important;
}


#povprasevanje {
    background: #0000008c;
}

.modal-content {
    height: auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    padding: 0 20px;
}

#povprasevanje .control-label {
    color: #555555;
    font-size: 15px;
    font-weight: 700;
    width: 100%;
}

#povprasevanje .form-control {
    background: #eeeeee none repeat scroll 0 0;
    border: 0 none;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #888888;
    font-size: 15px;
    height: 46px;
    line-height: 30px;
    padding: 0 15px;
}

#povprasevanje .textareaE {
    height: 200px !important;
}

#povprasevanje .gumb {
    display: block;
    background: rgb(255,160,0);
    font-weight: bold;
    border: medium none;
    border-radius: 3px;
    padding: 7px 36px;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
}


@media (max-width: 767px) {
    .cta-floater {
        bottom: 15px;
        right: 15px;
        height: 50px;
        width: 50px;
    }
}

.sidebar-navigation {
    padding-left: 30px;
    position: fixed;
}

.sidebar-navigation h2 {
    line-height: 1.2;
    background-color: rgb(255,160,0);
    color: white;
    margin-bottom: 0;
    font-family: 'Rubik', sans-serif;
    padding: 10px;
    font-size: 24px;
    font-weight: 300;
}

.sidebar-navigation ul {
    list-style-type: none;
    background-color: rgba(0, 0, 0, .03);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-inline-start: 10px;
}

.sidebar-navigation li {
    padding: 10px 0;
    position: relative;
}

.sidebar-navigation li a {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    padding: 5px 0;
    color: #232323;
}

.sidebar-navigation li a.active {
    color: rgb(255,160,0);
}

.sidebar-navigation li:after {
    content: '';
    width: 100%;
    border-bottom: 0.3px solid grey;
    bottom: 0;
    height: 1px;
    left: -3%;
    position: absolute;
    opacity: 0.5;
}

.sidebar-navigation li:last-of-type:after {
    display: none;
}

@media (max-width: 767px) {
    .sidebar-navigation {
        display: none;
    }
}

.predstavitvena {
    border: 1px solid black;
    padding: 20px;
    position: relative;
    height: 350px;
}

.predstavitvena img {
    position: absolute;
    max-width: 90%;
    max-height: 320px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gallery-wrap {
    border: 1px solid black;
    position: relative;
    height: 110px;
    cursor: pointer;
}

.gallery-image {
    position: absolute;
    max-width: 90%;
    max-height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#wpcf7-f591-o2 {
    display: none;
}

#wpcf7-f1219-o3 {
    display: none;
}

#wpcf7-f1220-o4 {
    display: none;
}

#wpcf7-f1221-o5 {
    display: none;
}

.no-background {
    background: none;
}

.cookie-notice {
    background: black;
    padding: 5px;
    bottom: 0;
    position: fixed;
    width: 100%;
    z-index: 100;
    color: white;
    opacity: .95;
    transform: translateY(0);
    transition: opacity 250ms ease, transform 500ms ease;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.17);
    font-size: 90%;
}

@media (max-width: 991px) {
    .cookie-notice {
        bottom: 0px;
    }
}

.cookie-notice .btn-gray {
    background: #566a71;
}

.cookie-notice a.more {
    color: white;
    text-decoration: underline !important;
}

.cookie-notice .left-cookie-text {
    padding: 10px 0 6px 0px;
    font-size: 13px;
}

@media (max-width: 991px) {
    .cookie-notice .left-cookie-text {
        font-size: 85% !important;
        line-height: 1.3 !important;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.cookie-notice.is-hidden {
    opacity: 0;
    transform: translateY(100%);
}

.cookie-notice .btn-primary {
    vertical-align: sub;
}

.legal-notice {
    color: black;
}

.legal-notice:hover {
    text-decoration: none;
}

#cookie-notice-button2 {
    background-color: white;
    border-color: white;
    color: black;
    margin-left: 0;
    font-weight: bold;
    border: none;
    margin-top: 10px;
    padding: 5px
}

#cookie-notice-button2:hover {
    opacity: 0.7;
    transition: 0.3s;
    cursor: pointer;
}


@media (max-width: 991px) {

    #cookie-notice-button2 {
        margin-top: 0;
        margin-bottom: 5px;
    }
}


@media (min-width: 991px) {
    .extMenu2 {
        background: white;
        z-index: 99;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .13);
        transition: 0.5s;
        position: fixed;
        width: 100%;
    }

    .wraper-all-pages {
        padding-top: 120px;
    }

    .menuScroll {
        top: -2px;
        transition: 0.5s;
    }
}

.navbar-toggler {
    top: 20px;
}

@media (max-width: 991px) {
    .nav-item.dropdown {
        position: relative;
    }

    .nav-item.dropdown .nav-link {
        display: inline-block;
    }

    .nav-item.dropdown span.nav-link:after {
        position: absolute;
        left: -16px;
        top: 14px;
        margin-left: .255em;
        vertical-align: .255em;
        content: "";
        border-top: .4em solid;
        border-right: .4em solid transparent;
        border-bottom: 0;
        border-left: .4em solid transparent;
    }

    .nav-item.dropdown span.nav-link {
        padding-right: 10px !important;
        position: relative;
    }

    #toggle2-h img {
        display: none;
    }

    #extFooter20-b li a {
        text-align: center;
        width: 100%;
    }

    #extFooter20-b .list-item {
        text-align: center;
        display: block;
    }
}

#extSlider2-1v .img-responsive {
    width: 100%;
}

.referenca {
    margin-top: 20px;
    padding-bottom: 20px;
}

h2, h2 a {
    color: #232323;
    font-weight: normal;
}

.offset-id {
    position: absolute;
    top: -140px;
}

#scrollToTop {
    display: none !important;
}
.cenik-warp{
    background-color: #f9f9f9;
}
.navigation-vsebina{
    padding-top: 20px;
}

.ponosni-sponzor{
    padding-top: 45px;
    padding-bottom: 60px;
}
.ponosni-sponzor h2{
    font-family: Rubik, sans-serif;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #232323;
    font-weight: 100;
    font-style: normal;
}
.ponosni-sponzor .logo{
    text-align: center;
}
.ponosni-sponzor img{
    height: 150px;
}
#page-wrapper {
    padding-top: 20px;
}
.reference{
    padding-top: 20px;
}

.posvet, .posvet .mbr-iconfont{
    font-size: 36px;
}

.cid-rRlz5mTZDd .mbr-section-title{
    color: white;
}

.eko-sklad{
    display: none;
}


.toplotne .eko-sklad, .kotli .eko-sklad, .plinski-kotli .eko-sklad{
    display: block;
}
.header1 .read-more-warp{
    position: relative;
}
.header1 .read-more-warp .read-more{
    background-color: rgb(255,160,0);
    border-color: rgb(255,160,0);
    color: #ffffff;
    border-radius: 3px;
    padding: 10px;
    min-width: 100px;
    width: fit-content;
    left: 50%;
    position: absolute;
    font-weight: bold;
    transform: translate(-50%,0);
}

.slick-next{
    right: 11px !important;
}

.slick-prev {
    left: 11px !important;
    z-index: 1;
}

#gmaps {
    width: 100%;
    height: 430px;
}

.cid-rRw9Xe57pW img{
    width: 100%;
    height: auto;
}